
@charset "utf-8";

body {
    min-width:370px;
    overflow-x:hidden;
}

header #h_t_bg #h_top,
main #r1_bg #r1_t10,
main #r2_comment,
main #r3_bg #r3_story,
main #r4_actor,
main #r5_bg #r5_collection,
footer #f_b_bg #f_bottom {
    width:calc(100% - 32px); 
    max-width:1320px;
    margin:0 auto;
}




