
@charset "utf=8";

/* header */
header{
    margin-bottom:100px;
}

#h_bg{
    position:fixed; 
    top:0; 
    z-index:10; 
    width:100%;
    background: #ff153c; 
}

#h_top{
    height:56px;
    display:flex; 
    justify-content: space-between; 
    align-items: center;
}


/*h_left */
#h_left{
    display:flex; 
    align-items: center;
    height:100%;
}

#h_left h1{
    margin-right:20px;
}

#h_left h1 a{
    color:#fff;
    font-size:25px;
}

#h_left nav{
    height:100%; 
    display:flex; 
    align-items: center;
}

/* nav */
nav #part1{
    display:flex; 
}

#part1 > li{
    position:relative;
}

#part1 > li > .part2 ,
#part1 > li > .part2 > li .part3 {
    position:absolute; 
    top:56px; 
    left:0; 
    z-index:9;
    width:max-content;
    display:none;   
}


#part1 > li.active > .part2 ,
#part1 > li.active > .part2 > li.active .part3 
{
    display:flex;
} 

.part3{
    width:100%; /* 200 -> 100 으로 체인지 */
}


/* nav a */
nav a{
    display:block; 
    margin-right:20px;
    color:#eee;
}


nav .part2 a:hover,
nav .part2 li.active > a{
    color:#ff153c; 
    font-weight:bold;
}


/* sub_bg */
.sub_bg {
    position:absolute; 
    left:0; 
    top:56px; 
    z-index:8;
    width:100%; 
    height:100%;
    background: #040302;
    opacity:0.8; 
    border:1px solid #333;
    display:none;
}

.part3_bg{
    top:112px; 
    height:200%; 
    border-left:0; 
    border-right:0;
    border-top:0;
}


/* h_right */
#h_right{
    display:flex; 
    align-items: center;
}

#search_frm{
    display:flex; 
    align-items: center; 
    justify-content: center;
}

#search_frm fieldset{
    background: #fff;
    width:300px;
    padding:6px 10px;
    display: flex; 
    align-items: center;
    border:1px solid red;
}
.skip{
    display:none;
}

#search_icon{
    background: url(../images/top/search.png) no-repeat center / 16px 16px;
    width:20px;
    height:20px;
    margin-right:10px;
}

#search_frm fieldset input{
    width:100%; 
    font-size: 13px;
    border:none;
}

#search_frm fieldset input:focus {
    outline:0;
}

#h_right a{
    margin-left:25px; 
    font-size:13px;
}

/* 모바일용 */
.close_btn{
    color:#333; 
    margin-left:10px; 
    white-space:nowrap;
    display:none; 
}


/* mobile menu */
#search_btn,
#menu_btn{
    width:32px; 
    height:32px; 
    margin-left: 10px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    border-radius: 5px; 
    transition: .3s;
}

#search_btn,
#menu_btn{
    display:none;
}

#menu_btn img:nth-child(1) {
    display:block;
}

#menu_btn img:nth-child(2) {
    display:none;
}

#menu_btn.active img:nth-child(1) {
    display:none;
}

#menu_btn.active img:nth-child(2) {
    display:block;
}

#login_btn{
    color:#fff;
}

#join_btn{
    background: #fff; 
    color:#333;
    transition:.3s;
    border-radius:5px;
    border:1px solid #bbb;
    padding:8px 15px; 
    font-weight:700;
}

#join_btn:hover {
    background-color: #f2f2f2; 
    border:1px solid #aaa;
    box-shadow: 2px 2px 5px rgba(0,0,0,.1) inset;
}



